<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="80eebd57-2e04-4137-998e-2953671c741b" name="FFM Tests" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="80eebd57-2e04-4137-998e-2953671c741bfileName">FFM-Tests</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="537e5998-407f-49dd-ab95-7c9d7cae8dc6">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="bded10cf-f107-436f-bdfd-cd9c3a04b7bf">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="ec217cb2-577b-4207-b83b-6826a912ac3c">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
